@using System.Web.UI.WebControls
@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
}

<h2 class="error">Errr.....</h2>
<div class="alert alert-error">Opps! Error has occured, admins have been notified.</div>