@using Docller.Common
@model string
<div id="inviteUserContainer">
    <div>
        <div data-bind="foreach: companies" class="float-left">
            <div class="modal-inviteuser">
                <div class="controls-row">
                    <input type="text" placeholder="Company name..." class="span4" data-bind="value: companyName, attr: {'id':'companyName_' +  $index(), 'data-typeahead-target':'users_' +  $index()}"> 
               </div>
                
                <div class="controls-row modal-inviteuser-emails">
                    <textarea rows="5" id="emails"class="span4" data-bind="value: users, attr: {'id':'users_' +  $index()}" placeholder="E-mail addresses, one per line"></textarea>
          
                </div>
                <!-- ko if: $index() !== 0 -->
                <div class="controls-row span4">
                    <a href="#" class="btn btn-mini pull-right" data-bind="click: $root.removeCompany"><i class="icon-remove"></i>Delete</a>
                </div>
                <div class="clearfix"></div>   
                <!-- /ko -->
            </div> 
        </div>
        <div class="float-right  modal-inviteuser-infoarea" >
            <div class="alert alert-info">
                Folder Permissions
            </div>
            <div>
                <label class="radio">
                    <input type="radio" name="accessOptions" id="optionsRadios1" value="Read" checked>
                    Read only Access
                </label>
                    <label class="radio">
                        <input type="radio" name="accessOptions" id="optionsRadios2" value="ReadWrite">
                        Contributor Access
                    </label>
            </div>

        </div>
    </div>
    <div class="clearfix"></div>
    <div id="errors" class="modal-inviteuser-errors"></div>
    <div class="controls-row modal-footer modal-inviteuser-footer">
        <a class="btn btn-small" href="#" data-bind="click: addCompany">
            <i class="icon-plus"></i>
            Add more...
        </a>
        <a href="#" class="btn btn-primary" data-modal="#shareFolderModal" data-bind="click: save" data-url="/Project/ShareFolder/@ViewContext.GetCurrentProjectId()/@ViewContext.GetCurrentFolderId()">Share</a>
    </div>
</div>

<script type="text/javascript">
    @*
        http://stackoverflow.com/questions/17548252/multiple-fields-with-twitters-bootstrap-typehead-inside-a-modal
        Hack to hook into select of typeahead
    
    $.fn.typeahead.Constructor.prototype.select = function() {
        var val = this.$menu.find('.active').attr('data-value');
        this.$element
            .val(this.updater(val))
            .change();
        var $this = this;
        $.ajax({
            type: "POST",
            url: "/Project/FolderPermCompare/" + docller.projectId + "/" + docller.folderId,
            data: "companyName=" + val + "&perm=" + $("input[name=accessOptions]:checked").val(),
            success: function(result) {
                if (result != null && result.downgradingPermissions) {
                    
                    $this.$element.parent().append("<div class=\"alert alert-danger downgradeMsg\">Company currently has access to Collaborate on this folder. There persmissions will be downgraded to read-only access.</span>");
                }
            },
            error: function() {
                alert("Errors occured, Please try again later");
            },
            dataType: "json"
        });

        return this.hide();
        

    };
    *@
    docller.subscribers = @Html.Raw(this.Model);
    ko.applyBindings(new CompaniesModel(function () { 
        return "perm=" + $("input[name=accessOptions]:checked").val();
    }), document.getElementById("inviteUserContainer"));
    $("#companyName_0").typeahead(options);

</script>
