@model Docller.Models.UserDetailsViewModel
@{
    Layout = "~/Views/Mail/_EmailLayout.cshtml";
}


<table style="width:100%; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif" border="0">
    
    <tr>
        <td>
            Dear @(string.IsNullOrEmpty(Model.FirstName) ? Html.Raw("User") : Html.Raw(Model.FirstName))
        </td>
    </tr>
    <tr>
        <td style="padding-top: 10px;">
            Your password had been reset as per your request, if you did not request password reset, Please contact us immediately at <a style="color: #0088cc;text-decoration: none;" href="mailto:Info@Docller.com?subject=Incorred Password Reset Request">Info@Docller.com</a>
        </td>
    </tr>
    <tr>
        <td style="padding-top: 10px; padding-bottom: 10px;">
            <strong>Your New Temporary Password</strong>
        </td>
    </tr>
    <tr>
        <td style="padding: 9px; min-height: 20px; margin-bottom: 20px; background-color: #f5f5f5; border: 1px solid #e3e3e3; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05)">
            @Html.ValueFor(m => m.Password)
        </td>
    </tr>
    <tr>
        <td style="padding:10px;"></td>
    </tr>
    <tr>
        <td style="padding:8px 35px 8px 14px;margin-bottom: 20px;text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);background-color: #fcf8e3;border:1px solid #fbeed5;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;color: #b94a48;background-color: #f2dede;border-color: #eed3d7" valign="center">
            You will need to change your temporary password after login.
        </td>
    </tr>
</table>
