@{
    ViewBag.Title = "Subscription Complete";
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
}

<div class="container">
    <hgroup class="title">
    <h1>Subscription Complete</h1>
  </hgroup>
    <p class="message-success">
        Thank you for your subscription, Please check your e-mail for login details.
    </p>


</div>
