@{
    ViewBag.Title = "Change Password";
}

<div class="container">
    <hgroup class="title">
    <h1>Change Password</h1>
  </hgroup>
    <p class="message-success">
        Your password has been changed successfully.
    </p>
</div>